server:
  port: 8081

spring:
  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        service-name: consulserver
 #sleuth+zipkin实现链路追踪
   zipkin:
     base-url: http://localhost:8901
   sleuth:
     sampler:
       percentage: 1.0   
management:
  endpoints:
    web:
      exposure:
        include: '*'


#eureka:
#  client:
#    serviceUrl:
#      defaultZone: http://localhost:8080/eureka/
